.ui-date-input
  display flex
  min-width 290px
  width auto

  &__date
    width 61px

  &__month
    margin 0 -2px
    flex-grow 1

  &__year
    width 79px

  &__date-content, &__month-content, &__year-content
    width auto
    word-break normal
    min-width 100%

  &__year-content
    right 0
    left auto

  @media screen and (max-width 767px)
    &__date
      width 65px

    &__month
      margin 0 -2px
      flex-grow 1

    &__year
      width 86px
