.ui-popover
  position relative

  &__toggle
    display block

  &__content
    position absolute
    width 100%
    max-width calc(100vw - 30px)
    top calc(100% + 5px)
    left 0
    background-color var(--bg)
    z-index 100
    margin-bottom 15px
