.base-header
  width 100%
  border-top 2px solid transparent
  border-bottom 2px solid var(--border)

  &__inner
    min-height 71px

  &__button-menu
    padding 3px

    & > svg
      width 25px
      height 25px
