@import "fonts/Roboto"

html
  font-family Roboto
  font-size 16px
  line-height 20px

.h1, h1
  font-size 45px
  line-height 50px

.h2, h2
  font-size 30px
  line-height 40px

.p, p
  font-size 16px
  line-height 20px

.p-sub
  font-size 14px
  line-height 20px
